header{
    .logo{
        position: absolute;
        left: 5rem;
        top: 2rem;
    }

    .navbar{
        display: flex;
        justify-content: end;
        padding-right: 3rem;
        padding-top: 4rem;
        gap: 3rem;
        .login{
            margin-bottom: 0;
            font-size: 1.5em;
        }

    }
}

